/* wwwroot/css/forgotpassword.css */
body {
    background-color: #fff3cd;
    font-family: Arial, sans-serif;
}

h1 {
    color: #856404;
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 10px;
    width: 300px;
}

.btn-primary {
    width: 300px;
    background-color: #856404;
    border-color: #856404;
}
