/* wwwroot/css/resetpassword.css */
body {
    background-color: #d4edda;
    font-family: Arial, sans-serif;
}

h1 {
    color: #155724;
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 10px;
    width: 300px;
}

.btn-primary {
    width: 300px;
    background-color: #155724;
    border-color: #155724;
}
