<div class="sidebar-heading">
    Notes
</div>
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-sticky-note"></i>
            <span>Note 1</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-sticky-note"></i>
            <span>Note 2</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-sticky-note"></i>
            <span>Note 3</span>
        </a>
    </li>
</ul>
<button class="btn btn-primary mt-3" onclick="window.location.href='@Url.Action("Create", "Notes")'">Add Note</button>
